@model GovUk.Forms.Domain.Search.SearchModel
@inject IPagePropertiesProvider PagePropertiesProvider

@{
    PagePropertiesProvider.FullPageLayout = true;
}

@Html.HiddenFor(m => m.ConfigKey)

@* 

If the search text is empty then show the field to allow the user to enter a search else display any results 
We will want to (potentially) show details which will be based upon the state passed in e.g. an Id of a specific
result
*@
@if (string.IsNullOrWhiteSpace(Model.SearchText))
{
    <govuk-input for="@Model.SearchText" input-attributes="@InputAttributes.AutoFocus" input-class="govuk-input--width-30" inputmode="text" spellcheck="false">
        <govuk-input-label is-page-heading="true" class="govuk-label--l">@(Model.MetaData.Question ?? "Enter a search?")</govuk-input-label>
        <govuk-input-hint>@(Model.MetaData.Hint ?? "Enter the first name and/or last name")</govuk-input-hint>
    </govuk-input>
}
else if (Model.CurrentResult is not null)
{
    
}

else if (Model.Results.Length > 0)
{
        <div>
        @if (Model.MetaData.Description != null)
        {
            <p class="govuk-body">
               @Model.MetaData.Description
            </p>
        }
      
        <p class="govuk-body govuk-!-font-weight-bold">
            Total count: @Model.TotalResults
            </p>
        </div>
        <br/>
        @* Display list of result *@
        if (Model.DisplayAsTable)
        {
            <p class="govuk-body">@(Model.GetResultsInfo())<strong></strong></p>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">
                    Search results table
                </caption>
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">

                    @foreach (var column in Model.ResultColumns.OrderBy(x => x.Order))
                    {

                        <th scope="col" class="govuk-table__header">
                            @column.Header
                        </th>
                    }
                    <th scope="col" class="govuk-table__header"> </th>
                </tr>
                </thead>

                <tbody class="govuk-table__body">
                @foreach (var row in Model.Results)
                {
                    <tr class="govuk-table__row">

                        @foreach (var column in Model.ResultColumns.OrderBy(x => x.Order))
                        {
                            string value = string.Empty;
                            if (row.Fields.TryGetValue(column.Name, out string? fieldValue))
                            {
                                value = fieldValue ?? string.Empty;
                            }

                            <td class="govuk-table__cell @column.Css">
                                @value
                            </td>
                        }

                        <td class="govuk-table__cell">
                            <a href="#" class="govuk-link"> Select </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    
        else
        {
            <h1 class="govuk-summary-card__title">
                List of eIIR Results
            </h1>
            <br />
            <ul class="govuk-list">
                @foreach (var row in Model.Results)
                {
                    <li class="govuk-!-margin-bottom-6">
                        <div class="govuk-summary-card">

                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">
                                    Search Result
                                </h2>

                                <ul class="govuk-summary-card__actions">
                                    <li class="govuk-summary-card__action">
                                        <a class="govuk-link" href="#">
                                            Select
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="govuk-summary-card__content">

                                <dl class="govuk-summary-list">

                                    @foreach (var column in Model.ResultColumns.OrderBy(x => x.Order))
                                    {
                                        string value = string.Empty;

                                        row.Fields.TryGetValue(
                                            column.Name,
                                            out string? fieldValue);

                                        value = fieldValue ?? string.Empty;

                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                                @column.Header
                                            </dt>

                                            <dd class="govuk-summary-list__value @column.Css">
                                                @value
                                            </dd>
                                        </div>
                                    }
                                </dl>

                            </div>

                        </div>
                    </li>
                }
            </ul>
        }

    @if (Model.TotalPages > 1)
    {           
       int startPage = Math.Max(1, Model.CurrentPageNumber - 2);
       int endPage = Math.Min(Model.TotalPages, Model.CurrentPageNumber + 2);

        <nav class="govuk-pagination" role="navigation" aria-label="Pagination">

            @if (Model.CurrentPageNumber > 1)
            {
                <div class="govuk-pagination__prev">
                    <a class="govuk-link govuk-pagination__link" 
                           href="?searchText=@Model.SearchText&currentPageNumber=@(Model.CurrentPageNumber - 1)"
                    rel="prev">
                        <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                        </svg>
                        <span class="govuk-pagination__link-title">
                            Previous<span class="govuk-visually-hidden"> page</span>
                        </span>
                    </a>
                </div>
            }

            <ul class="govuk-pagination__list">
                @for (int pageNumber = startPage; pageNumber <= endPage; pageNumber++)
                {
                    if (pageNumber == Model.CurrentPageNumber)
                    {
                        <li class="govuk-pagination__item govuk-pagination__item--current">
                            <a class="govuk-link govuk-pagination__link"
                                   href="?searchText=@Model.SearchText&currentPageNumber=@pageNumber"
                                   aria-current="page">
                                @pageNumber
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="govuk-pagination__item">
                            <a class="govuk-link govuk-pagination__link"
                                   href="?searchText=@Model.SearchText&currentPageNumber=@pageNumber">
                                @pageNumber
                            </a>
                        </li>
                    }
                }
            </ul>

            @if (Model.CurrentPageNumber < Model.TotalPages)
            {
                <div class="govuk-pagination__next">
                    <a class="govuk-link govuk-pagination__link" 
                           href="?searchText=@Model.SearchText&currentPageNumber=@(Model.CurrentPageNumber + 1)"
                           rel="next">
                        <span class="govuk-pagination__link-title">
                            Next<span class="govuk-visually-hidden"> page</span>
                        </span>
                        <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                        </svg>
                    </a>
                </div>
            }

        </nav>
    }
}
else
{
    @* Oops - no results found!*@
    <p class="govuk-body">No results found.</p>
    
}
