@model SearchModel

@* 
If the search text is empty then show the field to allow the user to enter a search else display any results 
We will want to (potentially) show details which will be based upon the state passed in e.g. an Id of a specific
result
*@
@if (string.IsNullOrWhiteSpace(Model.SearchText))
{
    <govuk-input for="@Model.SearchText" input-attributes="@InputAttributes.AutoFocus" input-class="govuk-input--width-30" inputmode="text" spellcheck="false">
        <govuk-input-label is-page-heading="true" class="govuk-label--l">@(Model.MetaData.Question ?? "Enter a search?")</govuk-input-label>
        <govuk-input-hint>@(Model.MetaData.Hint ?? "Enter the first name and/or last name")</govuk-input-hint>
    </govuk-input>
}
else if (Model.CurrentResult is not null)
{
    
}

else if (Model.Results.Length > 0)
{

        @* Display list of result *@
        if (Model.DisplayAsTable)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
       
                    <table class="govuk-table">
                        <caption class="govuk-table__caption govuk-table__caption--m">
                            Search Result eIIR
                        </caption>
 
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">

                                @foreach (var column in Model.ResultColumns.OrderBy(x => x.Order))
                                {
                  
                                    <th scope="col" class="govuk-table__header">
                                        @column.Header
                                    </th>
                                }
                                <th scope="col" class="govuk-table__header"> </th>
                            </tr>
                        </thead>
             
                        <tbody class="govuk-table__body">
                            @foreach (var row in Model.Results)
                            {
                                <tr class="govuk-table__row">
                       
                                    @foreach (var column in Model.ResultColumns.OrderBy(x => x.Order))
                                    {
                                        string value = string.Empty;
                                        if (row.Fields.TryGetValue(column.Name, out string? fieldValue))
                                        {
                                            value = fieldValue ?? string.Empty;
                                        }

                                        <td class="govuk-table__cell @column.Css">
                                            @value
                                        </td>
                                    }

                                    <td class="govuk-table__cell">
                                        <a href="#" class="govuk-link"> Select </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
            
                </div>
            </div>
        }
    
        else
        {
            <h1 class="govuk-summary-card__title">
                List of eIIR Results
            </h1>
            <br />
            <ul class="govuk-list">
                @foreach (var row in Model.Results)
                {
                    <li class="govuk-!-margin-bottom-6">
                        <div class="govuk-summary-card">

                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">
                                    Search Result
                                </h2>

                                <ul class="govuk-summary-card__actions">
                                    <li class="govuk-summary-card__action">
                                        <a class="govuk-link" href="#">
                                            Select
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="govuk-summary-card__content">

                                <dl class="govuk-summary-list">

                                    @foreach (var column in Model.ResultColumns.OrderBy(x => x.Order))
                                    {
                                        string value = string.Empty;

                                        row.Fields.TryGetValue(
                                            column.Name,
                                            out string? fieldValue);

                                        value = fieldValue ?? string.Empty;

                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                                @column.Header
                                            </dt>

                                            <dd class="govuk-summary-list__value @column.Css">
                                                @value
                                            </dd>
                                        </div>
                                    }
                                </dl>

                            </div>

                        </div>
                    </li>
                }
            </ul>
        }

    @if (Model.Results.Length > 0)
    {
       

        <nav class="govuk-pagination" role="navigation" aria-label="Pagination">
            @if (Model.CurrentPageNumber > 1)
            {
                <div class="govuk-pagination__prev">
                    <button type="submit" 
                            name="CurrentPageNumber"
                        value="@(Model.CurrentPageNumber - 1)" 
                        class="govuk-button govuk-button__secondary">
                        Previous
                    </button>
                </div>
            }

            @if (Model.HasNextPage)
            {
                <div class="govuk-pagination__next">
                    <button type="submit" 
                            name="CurrentPageNumber"
                        value="@(Model.CurrentPageNumber + 1)" 
                        class="govuk-button govuk-button__secondary">
                        Next
                    </button>
                </div>
            }
        </nav>
    }

}
else
{
    @* Oops - no results found!*@
    <p class="govuk-body">No results found.</p>
    
}

<input type="hidden" name="SearchText" value="@Model.SearchText" />
<input type="hidden" name="PageSize" value="@Model.PageSize" />