@model GovUk.Forms.Domain.Search.SearchModel
@inject IPagePropertiesProvider PagePropertiesProvider

@{
    PagePropertiesProvider.FullPageLayout = true;
}

@Html.HiddenFor(m => m.ConfigKey)

@* 

If the search text is empty then show the field to allow the user to enter a search else display any results 
We will want to (potentially) show details which will be based upon the state passed in e.g. an Id of a specific
result
*@

@{
    string heading = Model.MetaData.Question ?? "Search for something";
    string? preAmble = Model.MetaData.Description;
}

<h1 class="govuk-heading-l">@heading</h1>

@if (!string.IsNullOrWhiteSpace(preAmble))
{
    @Html.Raw(preAmble)
}

<govuk-input for="@Model.SearchText" input-attributes="@InputAttributes.AutoFocus" input-class="govuk-input--width-30" inputmode="text" spellcheck="false">
    <govuk-input-label is-page-heading="true" class="govuk-label--m">Search</govuk-input-label>
    @if (!string.IsNullOrWhiteSpace(Model.MetaData.Hint))
    {
        <govuk-input-hint>@(Model.MetaData.Hint)</govuk-input-hint>
    }
</govuk-input>

@* We switch off the form button so we have control where we place it *@
<govuk-button type="submit">Search</govuk-button>

@if (Model.CurrentResult is not null)
{
    
}
else if (Model.Results.Length > 0)
{
    if (Model.DisplayAsTable)
    {
        @await Html.PartialAsync("_SearchAsTable", Model)
    }
    else
    {
        @await Html.PartialAsync("_SearchAsList", Model);
    }

    @if (Model.TotalPages > 1)
    {           
        int startPage = Math.Max(1, Model.CurrentPageNumber - 2);
        int endPage = Math.Min(Model.TotalPages, Model.CurrentPageNumber + 2);

        <nav class="govuk-pagination" role="navigation" aria-label="Pagination">

            @if (Model.CurrentPageNumber > 1)
            {
                <div class="govuk-pagination__prev">
                    <a class="govuk-link govuk-pagination__link" 
                           href="?searchText=@Model.SearchText&currentPageNumber=@(Model.CurrentPageNumber - 1)"
                    rel="prev">
                        <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                        </svg>
                        <span class="govuk-pagination__link-title">
                            Previous<span class="govuk-visually-hidden"> page</span>
                        </span>
                    </a>
                </div>
            }

            <ul class="govuk-pagination__list">
                @for (int pageNumber = startPage; pageNumber <= endPage; pageNumber++)
                {
                    if (pageNumber == Model.CurrentPageNumber)
                    {
                        <li class="govuk-pagination__item govuk-pagination__item--current">
                            <a class="govuk-link govuk-pagination__link"
                                   href="?searchText=@Model.SearchText&currentPageNumber=@pageNumber"
                                   aria-current="page">
                                @pageNumber
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="govuk-pagination__item">
                            <a class="govuk-link govuk-pagination__link"
                                   href="?searchText=@Model.SearchText&currentPageNumber=@pageNumber">
                                @pageNumber
                            </a>
                        </li>
                    }
                }
            </ul>

            @if (Model.CurrentPageNumber < Model.TotalPages)
            {
                <div class="govuk-pagination__next">
                    <a class="govuk-link govuk-pagination__link" 
                           href="?searchText=@Model.SearchText&currentPageNumber=@(Model.CurrentPageNumber + 1)"
                           rel="next">
                        <span class="govuk-pagination__link-title">
                            Next<span class="govuk-visually-hidden"> page</span>
                        </span>
                        <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                        </svg>
                    </a>
                </div>
            }

        </nav>
    }
}
else
{
    @* Oops - no results found!*@
    @if (!string.IsNullOrWhiteSpace(Model.SearchText))
    {
        <p class="govuk-body">No results found.</p>
    }
}
