@model SummaryModel
@inject IPagePropertiesProvider PagePropertiesProvider;

@{
    const string fallbackQuestion = "Check your answers before continuing";
    PagePropertiesProvider.PageTitle = Model.MetaData.Question ?? fallbackQuestion;
}

<h1 class="govuk-heading-l">@(Model.MetaData.Question ?? fallbackQuestion)</h1>

@if (Model.MetaData.Description is not null)
{
    <p class="govuk-body">
        @Model.MetaData.Description
    </p>
}

@foreach (SummaryCategory category in Model.Categories)
{
    <p class="govuk-body">
        @(category.Label)
    </p>
    
    <govuk-summary-list>
        
        @foreach (SummaryCategoryDetail detail in category.Details)
        {
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    @detail.Label
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @foreach (string propValue in detail.Values)
                    {
                        <p class="govuk-body">@(propValue)</p>
                    }
                </govuk-summary-list-row-value>
                @if (detail.Actions.Length > 0)
                {
                    <govuk-summary-list-row-actions>
                        
                        @foreach (SummaryAction action in detail.Actions)
                        {
                            <govuk-summary-list-row-action
                                href="@(action.Url)"
                                visually-hidden-text="@(action.Label)">
                                @(action.Label)
                            </govuk-summary-list-row-action>
                        }
                    
                    </govuk-summary-list-row-actions>
                }
            </govuk-summary-list-row>
        }
        
    </govuk-summary-list>
}