@model SummaryModel

<h1 class="govuk-heading-l">@(Model.MetaData.Question ?? "Check your answers before continuing")</h1>

@if (Model.MetaData.Description is not null)
{
    <p class="govuk-body">
        @Model.MetaData.Description
    </p>
}

<govuk-summary-list>

    @foreach (SummaryModel.SummaryInfo page in Model.Overview)
    {
        if (page.Values.Length == 0)
        {
            continue;
        }

        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                @(page.Title)
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @foreach (string propValue in page.Values)
                {
                    <p class="govuk-body">@(propValue)</p>
                }
            </govuk-summary-list-row-value>
            @if (page.ChangeUrl is not null)
            {
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action href="@(page.ChangeUrl)" visually-hidden-text="@(page.Title)">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            }
        </govuk-summary-list-row>
    }

</govuk-summary-list>