@model List<IncomeModel>

@{
    ViewData["Title"] = "Alpha Demo - Income";
}

<h1 class="govuk-heading-l">
    Individual's Income
</h1>

<h1 class="govuk-heading-l">
    @($"You have added {@Model.Count} income{(@Model.Count > 1 ? "s" : "")}")
</h1>

<inss-previous-button previous-url="@Url.Action(nameof(IncomesController.List))" />

@foreach (var income in @Model.Select((item, index) => new { Index = index, Item = item }))
{
    @* Note the data-* attributes that are picked up as custom events and sent to the analytics provider *@
    <div id="analytics-form-pre-save" data-income-source="@income.Item.SourceOfIncome.Value" data-income-gross="@income.Item.GrossIncome.Value" data-income-frequency="@income.Item.PaymentFrequency.Value" />

    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
                @income.Item.SourceOfIncome.Value?.Description()
            </h2>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <inss-summary-list-item text="Gross Income" value="&pound;@(income.Item.GrossIncome.Value?.ToString("N2"))" bold-text="true" on-change-url="@Url.Action(nameof(IncomesController.Change), new { itemIndex = income.Index, fieldName = nameof(IncomesController.GrossIncome) })" />
                <inss-summary-list-item text="Payment Frequency" value="@income.Item.PaymentFrequency.Value?.Description()" bold-text="true" on-change-url="@Url.Action(nameof(IncomesController.Change), new { itemIndex = income.Index, fieldName = nameof(IncomesController.PaymentFrequency) })" />
                <inss-summary-list-item text="Income Provider" value="@income.Item.IncomeProvider.Value" bold-text="true" on-change-url="@Url.Action(nameof(IncomesController.Change), new { itemIndex = income.Index, fieldName = nameof(IncomesController.IncomeProvider) })" />
            </dl>
        </div>
    </div>
}

<form asp-action="SummaryComplete" method="post">
    <govuk-button type="submit">Save & Continue</govuk-button>
</form>
