@{
    ViewData["Title"] = "All Addresses";
}

@addTagHelper GovUk.Frontend.AspNetCore.TagHelpers.*, GovUk.Frontend.AspNetCore
@addTagHelper INSS.Platform.Portal.Web.Components.TagHelpers.*, INSS.Platform.Portal.Web.Components

@model INSS.Platform.Portal.Domain.SummaryListModel

<govuk-back-link href="@Model.PreviousPageUrl" />

<form method="post">

    <govuk-summary-list>
        
        @foreach (var page in Model.Pages)
        {
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    @(page.Title)
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @foreach (var propValue in page.GetValues())
                    {
                        <p class="govuk-body">@(propValue)</p>
                    }
                </govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action href="@(Model.GetChangeUrl(page))" visually-hidden-text="@Model.Title">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>    
        }
        
    </govuk-summary-list>

    <govuk-button-link href="@Model.PreviousPageUrl">Add Another</govuk-button-link>
    <govuk-button type="submit">Submit and continue</govuk-button>

</form>
