@using System.Linq.Expressions

@typeparam TValue
@inherits ControlsBase

@if (hasValidationError && !HideErrorSummary)
{
    <ErrorSummary Name="@GenerateElementName(Name)" Errors="@summaryErrors" />
}

<div class="govuk-form-group @divErrorClass">

    <Input Id="@id" Name="@Name" Text="@Text" SmallText="@SmallText" Placeholder="@Placeholder" Value="@Value">
        <ValidationMessage TValue="TValue" class="govuk-error-message" For="@ValidateFor" />
    </Input>

</div>

@code {
    [CascadingParameter]
    private EditContext? EditContext { get; set; }

    [Parameter]
    [EditorRequired]
    public Expression<Func<TValue>> ValidateFor { get; set; }

    [Parameter]
    public bool HideErrorSummary { get; set; } = false;

    [Parameter]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    public bool SmallText { get; set; } = false;

    [Parameter]
    public InputFieldType Type { get; set; } = InputFieldType.Text;

    [Parameter]
    public string? Placeholder { get; set; } = string.Empty;

    [Parameter]
    public string? Id { get; set; } = null;

    [Parameter]
    public string? Value { get; set; }

    private string id = string.Empty;

    private IEnumerable<SummaryError> summaryErrors = Enumerable.Empty<SummaryError>();

    private bool hasValidationError => summaryErrors.Any();

    private string divErrorClass = string.Empty;

    protected override void OnInitialized()
    {
        id = Id ?? GenerateElementId("input");

        if (EditContext != null)
        {
            EditContext.OnValidationStateChanged += (s, e) =>
            {
                UpdateSummaryErrors();
            };
        }

        base.OnInitialized();
    }

    /// <summary>
    /// Updates the <see cref="summaryErrors"/> collection based on the current validation messages.
    /// </summary>
    private void UpdateSummaryErrors()
    {
        var validationErrors = EditContext?.GetValidationMessages(FieldIdentifier.Create(ValidateFor)) ?? Enumerable.Empty<string>();

        if (validationErrors.Any())
        {
            summaryErrors = validationErrors.Select(e => new SummaryError { ElementId = id, Error = e });
            divErrorClass = "govuk-form-group--error";
        }
    }
}
