@model IPUploadXmlErrorDetailsModel

<h1 class="govuk-heading-l">@(Model.CurrentErrorDetail.Property)</h1>

<p class="govuk-body">
    @(Model.CurrentErrorDetail.Error.Replace("[COUNT]", Model.CurrentErrorDetail.RowCount.ToString()))
</p>

@if (Model.CurrentErrorDetail.Hint is not null)
{
    <h2 class="govuk-heading-m">How to fix it</h2>
    <p class="govuk-body">@(Model.CurrentErrorDetail.Hint)</p>
}

@{
    string[] headers = Model.CurrentErrorDetail.Rows[0];
}
<table class="govuk-table govuk-table--small-text-until-tablet">
    <caption class="govuk-table__caption govuk-table__caption--m">Affected employees</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        @foreach (string header in headers)
        {
            <th scope="col" class="govuk-table__header">@header</th>
        }
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    @for (int i = 1; i < Model.CurrentErrorDetail.Rows.Length; i++)
    {
        <tr class="govuk-table__row">
            
            @for (int j = 0; j < Model.CurrentErrorDetail.ColumnCount; j++)
            {
                <td class="govuk-table__cell">@(Model.CurrentErrorDetail.Rows[i][j])</td>
            }
        </tr>
    }
    </tbody>
</table>