@model BankDetailsModel

@{
    ViewData["Title"] = "Alpha Demo - Bank details";
}

<inss-previous-button previous-url="@Url.Action(nameof(BankDetailsController.Index))" />

<govuk-summary-list>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Account name
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            <p class="govuk-body">@(Model.AccountName)</p>
        </govuk-summary-list-row-value>
        <govuk-summary-list-row-actions>
            <govuk-summary-list-row-action href="@Url.Action(nameof(BankDetailsController.Index))" visually-hidden-text="@Model.AccountName">Change</govuk-summary-list-row-action>
        </govuk-summary-list-row-actions>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Account number
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            <p class="govuk-body">@(Model.AccountNumber)</p>
        </govuk-summary-list-row-value>
        <govuk-summary-list-row-actions>
            <govuk-summary-list-row-action href="@Url.Action(nameof(BankDetailsController.Index))" visually-hidden-text="@Model.AccountName">Change</govuk-summary-list-row-action>
        </govuk-summary-list-row-actions>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Sort code
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            <p class="govuk-body">@(Model.SortCode)</p>
        </govuk-summary-list-row-value>
        <govuk-summary-list-row-actions>
            <govuk-summary-list-row-action href="@Url.Action(nameof(BankDetailsController.Index))" visually-hidden-text="@Model.AccountName">Change</govuk-summary-list-row-action>
        </govuk-summary-list-row-actions>
    </govuk-summary-list-row>

    @if (!string.IsNullOrEmpty(Model.BuildingSocietyRollNumber))
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                Building society roll number
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                <p class="govuk-body">@(Model.BuildingSocietyRollNumber)</p>
            </govuk-summary-list-row-value>
            <govuk-summary-list-row-actions>
                <govuk-summary-list-row-action href="@Url.Action(nameof(BankDetailsController.Index))" visually-hidden-text="@Model.AccountName">Change</govuk-summary-list-row-action>
            </govuk-summary-list-row-actions>
        </govuk-summary-list-row>
    }
</govuk-summary-list>

<form asp-action="SummaryComplete" method="post">
    <govuk-button type="submit">Save & Continue</govuk-button>
</form>
