@using INSS.Platform.Portal.Domain
@model INSS.Platform.Portal.Domain.AddAnotherModel

@foreach (PageCollection pages in Model.Items)
{
    <govuk-summary-card>
        <govuk-summary-card-title>@Model.Title</govuk-summary-card-title>
        <govuk-summary-card-actions>
            <govuk-summary-card-action href="@(Model.GetChangeUrl(pages.First()))" visually-hidden-text="@pages.First().Title">Change</govuk-summary-card-action>
            <govuk-summary-card-action href="@(Model.GetRemoveUrl(pages.First()))" visually-hidden-text="@pages.First().Title">Remove</govuk-summary-card-action>
        </govuk-summary-card-actions>
        <govuk-summary-list>
            @foreach (BaseModel item in pages)
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>@item.Title</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                    @foreach (var propValue in item.GetValues())
                    {
                        <p class="govuk-body">@(propValue)</p>
                    }
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }
        </govuk-summary-list>
    </govuk-summary-card>
}

<govuk-radios for="@Model.AddAnotherItem">
    <govuk-radios-fieldset>
        @if (Model.QuestionText is not null)
        {
            <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                @Model.QuestionText
            </govuk-radios-fieldset-legend>
        }
        
        @if (Model.QuestionHint is not null)
        {
            <govuk-radios-hint>
                @Model.QuestionHint
            </govuk-radios-hint>
        }

        <govuk-radios-item value="true" checked="@Model.AddAnotherItem">Yes</govuk-radios-item>
        <govuk-radios-item value="false" checked="@(!Model.AddAnotherItem)">No</govuk-radios-item>
    </govuk-radios-fieldset>
</govuk-radios>
<inss-error-message asp-for="@Model.AddAnotherItem" />