@model ListModel

<h1 class="govuk-heading-l">
    @($"You have added {@Model.Items.Count} {@Model.ItemName}{(@Model.Items.Count > 1 ? "s" : "")}")
</h1>

<style>
    .govuk-radios {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
</style>

<div class="govuk-form-group">
    <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">
        @foreach (var item in Model.Items.Select((value, index) => new { Index = index, Value = value }))
        {
            <inss-summary-list-item 
                text="@item.Value"
                on-change-url="@Url.Action("Change", new { itemIndex = item.Index })"
                on-remove-url="@Url.Action("ConfirmRemove", new { itemIndex = item.Index })">
            </inss-summary-list-item>
        }
    </dl>
    <form asp-action="Add" method="post">
        <govuk-radios for="@Model.Confirm" class="govuk-radios govuk-radios--inline" orientation="Horizontal">
            <govuk-radios-fieldset>
                <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                    Do you need to add another @Model.ItemName?
                </govuk-radios-fieldset-legend>
                <govuk-radios-hint>
                    You must tell us about all your @Model.ItemName.
                </govuk-radios-hint>

                @foreach (var option in EnumExtensions.GetValuesAndDescriptions<Confirmation>())
                {
                    <govuk-radios-item value="@option.Key">@option.Value</govuk-radios-item>
                }

            </govuk-radios-fieldset>
        </govuk-radios>

        <inss-error-message asp-for="@Model.Confirm" />

        <br />
        <govuk-button type="submit">Next</govuk-button>
    </form>

</div>
