@inject NavigationManager Navigation

<section aria-label="Service information"
         class="govuk-service-navigation"
         data-module="govuk-service-navigation">

    <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
            <span class="govuk-service-navigation__service-name">
                <span class="govuk-service-navigation__text">User Management</span>
            </span>

            <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
                    Menu
                </button>

                <ul class="govuk-service-navigation__list" id="navigation">
                    @if (IsSignedIn)
                    {
                        <li class="govuk-service-navigation__item @(isHomePage ? "govuk-service-navigation__item--active" : "")">
                            <a class="govuk-service-navigation__link" href="/" aria-current="true">
                                <strong class="@(isHomePage ? "govuk-service-navigation__active-fallback" : "")">Home</strong>
                            </a>
                        </li>
                        <li class="govuk-service-navigation__item @(IsApplicationsPage ? "govuk-service-navigation__item--active" : "")">
                            <a class="govuk-service-navigation__link" href="/applications">
                                <strong class="@(IsApplicationsPage ? "govuk-service-navigation__active-fallback" : "")">Manage Applications</strong>
                            </a>
                        </li>
                        <li class="govuk-service-navigation__item @(IsRolesPage ? "govuk-service-navigation__item--active" : "")">
                            <a class="govuk-service-navigation__link" href="/roles">
                                <strong class="@(IsRolesPage ? "govuk-service-navigation__active-fallback" : "")">Manage Roles</strong>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</section>

@code {

    [Parameter]
    public bool IsSignedIn { get; set; }

    bool isHomePage =>
        Navigation.ToBaseRelativePath(Navigation.Uri).Equals("", StringComparison.OrdinalIgnoreCase);

    bool IsApplicationsPage =>
        Navigation.ToBaseRelativePath(Navigation.Uri).Equals("applications", StringComparison.OrdinalIgnoreCase);

    bool IsRolesPage => 
        Navigation.ToBaseRelativePath(Navigation.Uri).Equals("roles", StringComparison.OrdinalIgnoreCase);

}
