@{
    ViewData["Title"] = Model.Title;
}
@addTagHelper GovUk.Frontend.AspNetCore.TagHelpers.*, GovUk.Frontend.AspNetCore
@addTagHelper INSS.Platform.Portal.Web.Components.TagHelpers.*, INSS.Platform.Portal.Web.Components
@using INSS.Platform.Portal.Domain
@model INSS.Platform.Portal.Domain.BaseModel

@if (ViewData["PreviousPageUrl"] is not null)
{
    <govuk-back-link href="@ViewData["PreviousPageUrl"]"/>
}

@if (Model is FormModel { Title: not null } formWithTitle)
{
    <h1 class="govuk-heading-l">@formWithTitle.Title</h1>
}

@using (@Html.BeginForm("Index", "Form", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Kind)
    @Html.HiddenFor(m => m.PageUrl)
    @await Html.PartialAsync(@Model.ViewName, Model)

    @if (Model is FormModel form)
    {
        <govuk-button type="submit" disabled="!@form.CanSubmit">Submit form</govuk-button>
    }
    else
    {
        <govuk-button type="submit">Save and continue</govuk-button>
    }
}