@*
    This component relates to the GDS Design System 'Button' component. 
    https://design-system.service.gov.uk/components/button/
*@

@inherits ControlsBase

<button type="submit"
        class="govuk-button @(Disabled ? "govuk-button--disabled" : "")"
        data-module="govuk-button"
        id="@GenerateElementId()"
        title="@Text"
        disabled="@Disabled"
        aria-disabled="@Disabled">
    @Text
</button>

@code {
    [Parameter]
    public bool Disabled { get; set; } = false;

    [Parameter]
    public string Text { get; set; } = string.Empty;
}
