@using System.Globalization
@model AboutYouModel

<inss-previous-button previous-url="@Url.Action(nameof(AboutYouController.EmailAddress))" />

<govuk-summary-list>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Full name
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            <p class="govuk-body">@(Model.FullName.Value)</p>
        </govuk-summary-list-row-value>
        <govuk-summary-list-row-actions>
            <govuk-summary-list-row-action href="@Url.Action(nameof(AboutYouController.UserFullName))" visually-hidden-text="@Model.FullName.Value">Change</govuk-summary-list-row-action>
        </govuk-summary-list-row-actions>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Date of birth
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            <p class="govuk-body">@(Model.DateOfBirth.Value?.ToString("dd MMMM yyyy", CultureInfo.CurrentUICulture))</p>
        </govuk-summary-list-row-value>
        <govuk-summary-list-row-actions>
            <govuk-summary-list-row-action href="@Url.Action(nameof(AboutYouController.DateOfBirth))" visually-hidden-text="@Model.DateOfBirth.Value?.ToString("dd MMMM yyyy", CultureInfo.CurrentUICulture)">Change</govuk-summary-list-row-action>
        </govuk-summary-list-row-actions>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Address
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            <p class="govuk-body">@(Model.Address.ToString())</p>
        </govuk-summary-list-row-value>
        <govuk-summary-list-row-actions>
            <govuk-summary-list-row-action href="@Url.Action(nameof(AboutYouController.UserAddress))" visually-hidden-text="@Model.Address.ToString()">Change</govuk-summary-list-row-action>
        </govuk-summary-list-row-actions>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Telephone number
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            <p class="govuk-body">@(Model.TelephoneNumber.Value)</p>
        </govuk-summary-list-row-value>
        <govuk-summary-list-row-actions>
            <govuk-summary-list-row-action href="@Url.Action(nameof(AboutYouController.TelephoneNumber))" visually-hidden-text="@Model.TelephoneNumber.Value">Change</govuk-summary-list-row-action>
        </govuk-summary-list-row-actions>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Email address
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            <p class="govuk-body">@(Model.EmailAddress.Value)</p>
        </govuk-summary-list-row-value>
        <govuk-summary-list-row-actions>
            <govuk-summary-list-row-action href="@Url.Action(nameof(AboutYouController.EmailAddress))" visually-hidden-text="@Model.EmailAddress.Value">Change</govuk-summary-list-row-action>
        </govuk-summary-list-row-actions>
    </govuk-summary-list-row>

</govuk-summary-list>

<form asp-action="SummaryComplete" method="post">
    <govuk-button type="submit">Save & Continue</govuk-button>
</form>
